doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
        title Step Project Notes
        style
            include style.css
    body
        div(class="container-fluid")
            div(class="col")
                div(class="col") Панель создания заметок
                    a(href= "/notes" class="btn btn-primary") Создать заметку
                    a(href= "/lists" class="btn btn-success") Создать список задач
            div(class="row")
                each note in notes
                    div(class="card text-white bg-warning mb-3 text-center" style="max-width: 18rem;")
                        div(class="card-body")
                            h5(class="card-title")= note.title
                            p(class="card-text")= note.content
                            p(class="card-text")
                                strong= note.expired_at
                            p(class="card-text")
                                a(href= `/notes/${note._id.toString()}` class="btn btn-primary") Посмотреть записку

                div(class="col")
                each list in lists

                        div(class="card bg-success text-center")
                            div(class="card-body")
                                h5(class="card-title")= list.title
                                form
                                    div(class="form-check")
                                        ul(class="list-group" id= `${list._id.toString()}`)
                                            each content, index in list.content
                                                li(class="list-group-item bg-success" )
                                                    input(type="checkbox" class="form-check-input" onclick="onLiClick(event)" id=index)
                                                    label(class="form-check-label")= content
                                a(href= `/lists/${list._id.toString()}` class="btn btn-primary") Посмотреть список задач
    script(src="/js/js.js")

